.setup-card {
  border: 1px solid #fff;
  border-radius: 1rem;
  padding: 1rem;
}

.full-screen-btn {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

.clock {
  font-family: "Cabin Sketch", cursive;
  font-size: 18rem;
  width: 80%;
}

.clock .secondary {
  font-size: 10rem;
}

#react-select-timezone-select-listbox {
  color: black;
}

@media (max-width: 900px) {
  .clock {
    font-size: 10rem;
  }

  .clock .secondary {
    font-size: 5rem;
  }
}

@media (max-width: 564px) {
  .clock {
    font-size: 5rem;
  }

  .clock .secondary {
    font-size: 2.5rem;
  }
}
